body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background:linear-gradient(rgb(186, 165, 222)10%,rgb(237, 233, 239))

}

.todo-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 310px;
}
#todo-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

h1 {
    text-align: center;
}

.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#add-btn {
    padding: 10px;
    background-color: #644f81;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#add-btn:hover {
    background-color: #35ad7d;
    
}

#todo-list {
    list-style: none;
    padding: 0;
}

#todo-list li {
    display: flex;
    justify-content: space-between;
    background: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

#todo-list li button {
    background-color: #6a2c2ce9;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}

#todo-list li button:hover {
    background-color: #c82365;
}
